 .main-color {
   color: #4461F2 !important;
 }

 .main-button {
   background: #4461F2 !important;
   color: white !important;
 }

 .main-background {
   background: #4461F2;
 }

 .mainframe {
   background-color: #F0F4FC;
   border-radius: 0px 100px 100px 0px;
   box-shadow: 0px 5px 100px 0px #0000001A;
   padding: 80px 147px 172px 80px;
 }

 .register-shadow {
   box-shadow: 0px 10px 30px 0px #4461F20D;
   transition: 0.5s;
 }

 .register-shadow:hover {
   background-color: #4461F2;
   color: white !important;
 }

 .continue-line {
   position: relative;
   color: #6C737F;
 }

 .continue-line p::after {
   content: '';
   width: 32%;
   height: 1px;
   background-color: #E7E7E7;
   position: absolute;
   top: 35%;
   right: 0;

 }

 .continue-line p::before {
   content: '';
   width: 32%;
   height: 1px;
   background-color: #E7E7E7;
   position: absolute;
   top: 35%;
   left: 0;
 }


 .icons {
   color: #1D9BF0;
   width: 65px;
   height: 64px;
   border: 1.02px solid #E0E0E9;
   box-shadow: 0px 18px 30px 0px #4461F21C;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .facebook {
   color: #1877F2;
 }

 .apple {
   color: black;
 }

 .input-shadow {
   box-shadow: 0px 10.09px 20.18px 0px #4461F20D;
   background: #F9F9F9 !important;

 }

 .input-shadow {
   box-shadow: 0px 10.09px 20.18px 0px #4461F20D;
   background: #F9F9F9 !important;

 }

 .input-shadow::placeholder {
   color: #A1A4A9 !important;

 }

 .show-password {
   color: #A1A4A9
 }


 .cursor-pointer {
   cursor: pointer;
 }


 .bg-home {
   background-color: #fbf9f9;
   min-height: 100vh;
 }

 .second-color {
   color: #696F79 !important;
 }

 .logOutButton:hover {
   background-color: #4461F2 !important;
   color: white !important;
 }

 .logOutButton:hover .logoutIcon {
   color: white !important;
 }


 .search-shadow {
   border-radius: 0px 15px 15px 0px !important;
 }

 .navbar-toggler:focus {
   box-shadow: none !important;
 }

 @media (min-width: 576px) {

   .container,
   .container-sm {
     max-width: 100% !important;
   }
 }

 .input-group {
   box-shadow: 0px 15px 40px 0px #0000001A;
   background-color: white;
   border-radius: 15px;
 }


 .form-check-input:focus {
   border-color: #86b7fe;
   outline: 0;
   box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
   background-color: #4f6bf5 !important;
   border-color: #4f6bf5 !important;
 }

 .form-check-input:checked {
   background-color: #4461F2 !important;
   border-color: #4461F2 !important;
 }


 .search-shadow::placeholder {
   color: #696F79 !important;

 }

 .quizes-shadow {
   box-shadow: 0px 15px 40px 0px #0000000D;
 }

 .title {
   background: #1100FF66;
   backdrop-filter: blur(27.01353645324707px);
   border-radius: 10px;
   bottom: 27px;
   right: 45px;

 }

 .question-font {
   color: #535353;
 }

 .ExamQuestions-layout {
   background-color: rgba(0, 0, 0, 0.27);
 }


 .question-layout {
   box-shadow: 0px 1px 10px 0px #00000040;
   min-width: 500px;
 }

 .back-button {
   border-color: #4461F2 !important;
 }

 .answer-background {
   background: #EDEFF3;
 }

 .answer-background-checked {
   background: #CCD7EB;

 }

 .progress-bar {
   background-color: #4461F2 !important;
 }

 .user-icons {
   color: #4461F2;
   width: 60px;
   height: 60px;
   box-shadow: 0px 15px 40px 5px #EDEDED;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .p-quiz {
   color: #696F79;
 }

 .in-correct-circle {
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;

 }

 .percentage {
   width: 110px;
   height: 110px;
   border: 6px solid #02369C;
   border-radius: 50%;


 }